# Python
backend/.venv/
**/__pycache__/
*.py[cod]
*.sqlite3

# Django
backend/staticfiles/
backend/media/

# Node
frontend/node_modules/
frontend/dist/

# Tests
.coverage
htmlcov/
.pytest_cache/
coverage/

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
#   you could uncomment the following to ignore the entire vscode folder
# .vscode/
# Temporary file for partial code execution
tempCodeRunnerFile.py

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml
